# Logs
logs
*.log

# Node modules et builds
node_modules
dist
dist-ssr
.local

# Fichiers d'environnement
.env

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
